<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit LEGO Construction</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
    <link rel="stylesheet" href="static/css/edit.css">
</head>
<body>
    <canvas id="three-canvas"></canvas>
    
    <!-- Brick Selector -->
    <div class="brick-selector">
        <strong>Bricks:</strong>
        {% for color in colors %}
        <div class="color-header">{{ color.name }}</div>
        <div class="size-container">
            {% for size in sizes %}
            <button class="size-button" title="{{ size.name }} {{ color.name }}">
                {{ size.name }}
            </button>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    
    <!-- View Buttons -->
    <div class="button-container">
        {% for view in views %}
        <button class="view-button {{ view.name }}" data-position="{{ view.position }}">{{ view.name }}</button>
        {% endfor %}
    </div>
    
    <!-- Title Input -->
    <div class="title-container">
        <label class="title-label" for="title-textbox">Title:</label>
        <input type="text" id="title-textbox" class="title-textbox">
    </div>
    
    <!-- Save and Load Buttons -->
    <button id="save-btn">Save</button>
    <button id="load-btn" class="load-button">Load</button>
    <button id="generate-btn" class="gen-button">Generate</button>
    
    <script>
        const views = {{ views | tojson }};
        const sizes = {{ sizes | tojson }};
        const colors = {{ colors | tojson }};
    </script>
    <script type="module" src="static/js/edit.js"></script>
</body>
</html>
